<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 250px; min-height: 100vh; position: fixed;">


  <a class="navbar-brand mb-3" 
  href="#"><img 
  id="logoImage"
  src="static/images/LOGO.png" 
  style="max-width: 100%;" /></a>
  <h2 class="text-center mb-3">PageList</h2>

  <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link" href="/aboutthesite.html">about the site</a>
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/generalinfo.html">general info</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/earth.html">earth</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/fartworld.html">fartworld</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/redworld.html">redworld</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/skult.html">skult</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/talt.html">talt</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/starships.html">starships</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/humanity.html">humanity</a>
        </li>

        {% include 'partials/darkmode.html' %}

        </li>
      </ul>
        
      </form>
    </div>
  </div>
</nav>
