<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 250px; min-height: 100vh; position: fixed;">


  <a class="navbar-brand mb-3" 
  href="#"><img 
  id="logoImage"
  src="static/images/LOGO.png" 
  style="max-width: 100%;" /></a>
  <h2 class="text-center mb-3">PageList</h2>

  <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link{% if active_page == 'aboutthesite' %} active{% endif %}" href="/aboutthesite.html">about the site</a>
            {% if active_page == 'aboutthesite' %}
            {% include 'partials/scrollspy.html' %}
          {% endif %}
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if active_page == 'generalinfo' %} active{% endif %}" href="/generalinfo.html">general info</a>
          {% if active_page == 'generalinfo' %}
          {% include 'partials/scrollspy.html' %}
        {% endif %}
        </li>

        <li class="nav-item">
          <a class="nav-link{% if active_page == 'earth' %} active{% endif %}" href="/earth.html">earth</a>
          {% if active_page == 'earth' %}
            {% include 'partials/scrollspy.html' %}
          {% endif %}
        </li>

        <li class="nav-item">
          <a class="nav-link{% if active_page == 'fartworld' %} active{% endif %}" href="/fartworld.html">fartworld</a>
          {% if active_page == 'fartworld' %}
          {% include 'partials/scrollspy.html' %}
        {% endif %}
        </li>

        <li class="nav-item">
          <a class="nav-link{% if active_page == 'redworld' %} active{% endif %}" href="/redworld.html">redworld</a>
          {% if active_page == 'redworld' %}
          {% include 'partials/scrollspy.html' %}
        {% endif %}
        </li>

        <li class="nav-item">
          <a class="nav-link{% if active_page == 'skult' %} active{% endif %}" href="/skult.html">skult</a>
          {% if active_page == 'skult' %}
          {% include 'partials/scrollspy.html' %}
        {% endif %}
        </li>

        <li class="nav-item">
          <a class="nav-link{% if active_page == 'talt' %} active{% endif %}" href="/talt.html">talt</a>
          {% if active_page == 'talt' %}
          {% include 'partials/scrollspy.html' %}
        {% endif %}
        </li>

        <li class="nav-item">
          <a class="nav-link{% if active_page == 'starships' %} active{% endif %}" href="/starships.html">starships</a>
          {% if active_page == 'starships' %}
          {% include 'partials/scrollspy.html' %}
        {% endif %}
        </li>

        <li class="nav-item">
          <a class="nav-link{% if active_page == 'humanity' %} active{% endif %}" href="/humanity.html">humanity</a>
          {% if active_page == 'humanity' %}
          {% include 'partials/scrollspy.html' %}
        {% endif %}
        </li>

        {% include 'partials/darkmode.html' %}

        </li>
      </ul>
        
      </form>
    </div>
  </div>
</nav>
