{%extends 'layout.html'%} {%block content%} {%include "partials/slider.html"%}
<div class="container">
  <div class="row">
    {% for card in cards %}
    <div class="col-lg-4 col-md-8 col-sm-12">
      <div class="card">
        <img src="{{ card [3] }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ card [0] }}</h5>
          <p class="card-text">{{ card [1] }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-lg-3 col-md-8 col-sm-12">
      <button type="button" class="btn">Base class</button>
      <button type="button" class="btn">Base class</button>
      <button type="button" class="btn">Base class</button>
      <button type="button" class="btn">Base class</button>
    </div>
  </div>
</div>
{%endblock%}
