{%extends 'layout.html'%} {%block content%} {%include "partials/slider.html"%}
<div class="container">
  <div class="row">
    {% for card in cards %}
    <div class="col-lg-4 col-md-8 col-sm-12">
      <div class="card">
        <img src="{{ card [3] }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ card [0] }}</h5>
          <p class="card-text">{{ card [1] }}</p>
          <a href="{{ card[4] }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-lg-6 col-md-8 col-sm-12">
      <button type="button" class="btn w-100 p-0" onclick="window.location.href='/earth.html';"> 
        <img src="static/images/world.png" alt="Button Image 1" style="width: 25%; height: 25%; object-fit: cover;">
      </button>
        
        <button type="button" class="btn w-100 p-0" onclick="window.location.href='/redworld.html';"> 
          <img src="static/images/red world.png" alt="Button Image 1" style="width: 25%; height: 25%; object-fit: cover;">
        </button>
      </div>
    <div class="col-lg-6 col-md-8 col-sm-12">
      <button type="button" class="btn w-100 p-0" onclick="window.location.href='/skult.html';"> 
        <img src="static/images/skult.png" alt="Button Image 1" style="width: 25%; height: 25%; object-fit: cover;">
      </button>

      <button type="button" class="btn w-100 p-0" onclick="window.location.href='/fartworld.html';"> 
        <img src="static/images/fart world.png" alt="Button Image 1" style="width: 25%; height: 25%; object-fit: cover;">
      </button>
      </div>
    </div>
  </div>
</div>

{%endblock%}
