{%extends 'layout.html'%} {%block content%} {%include "partials/slider.html"%}
<div class="container">
  <div class="row">
    {% for card in cards %}
    <div class="col-lg-4 col-md-8 col-sm-12">
      <div class="card">
        <img src="{{ card [3] }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ card [0] }}</h5>
          <p class="card-text">{{ card [1] }}</p>
          <a href="{{ card[4] }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-lg-6 col-md-8 col-sm-12">
      <button type="button" class="btn w-100 p-0" onclick="window.location.href='/earth.html';"> 
        <img src="static/images/world.png" alt="Button Image 1" style="width: 25%; height: 25%; object-fit: cover;">
      </button>
        
        <button type="button" class="btn w-100 p-0" onclick="window.location.href='/redworld.html';"> 
          <img src="static/images/red world.png" alt="Button Image 1" style="width: 25%; height: 25%; object-fit: cover;">
        </button>
      </div>
    <div class="col-lg-6 col-md-8 col-sm-12">
      <button type="button" class="btn w-100 p-0" onclick="window.location.href='/skult.html';"> 
        <img src="static/images/skult.png" alt="Button Image 1" style="width: 25%; height: 25%; object-fit: cover;">
      </button>

      <button type="button" class="btn w-100 p-0" onclick="window.location.href='/fartworld.html';"> 
        <img src="static/images/fart world.png" alt="Button Image 1" style="width: 25%; height: 25%; object-fit: cover;">
      </button>
      </div>
    </div>
  <div class="row">
    <h2>About the site</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh ligula, porttitor quis efficitur sodales, dapibus a dui. Vestibulum quis lacus elit. Cras vulputate sapien eget porttitor dignissim. Mauris eu faucibus nulla. Sed et nunc feugiat, tincidunt sapien et, pharetra libero. Vivamus porta purus nec nulla faucibus consequat. Donec mi libero, feugiat ac mi eu, feugiat vehicula purus. Integer at sagittis libero.

    In urna tortor, aliquam vitae tellus quis, lobortis semper sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed finibus ut justo sed laoreet. Aenean vel finibus odio. Ut dapibus consequat elementum. Vivamus vestibulum rhoncus vestibulum. Proin hendrerit ut quam ut fermentum. Suspendisse porta aliquet metus vel rhoncus. Vivamus auctor mattis lectus, eu dapibus neque facilisis eu. Vestibulum quam metus, semper sed imperdiet at, pulvinar ac magna. Aliquam nec efficitur nunc. Nunc vitae vehicula urna. Donec sit amet felis id dolor varius lobortis a ut nibh. Aenean in ultricies diam.
    <p></p>  
    Nullam ut cursus ligula, quis ultricies enim. Aenean scelerisque purus a gravida vulputate. Etiam risus elit, scelerisque nec tortor quis, molestie vulputate metus. Fusce vitae libero dictum, congue urna quis, mollis odio. Praesent egestas mi nec tortor fringilla condimentum. Nunc interdum, arcu quis dapibus luctus, diam tortor porta nibh, eget cursus leo nisl eu quam. Praesent pulvinar lacus fringilla, facilisis nibh ac, dignissim nisl. Aenean eu justo nunc. Suspendisse dapibus, ipsum non gravida elementum, nisi massa maximus libero, vel sollicitudin elit felis sit amet nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris dignissim, nisl ac tincidunt hendrerit, justo velit volutpat mauris, a aliquet nulla lorem nec orci. In in mi magna. Nulla hendrerit ipsum eu molestie sodales.
    <p></p>
    
    Sed laoreet semper neque sit amet pharetra. Morbi mattis est et massa interdum lobortis. Aenean ac diam quam. Nunc ullamcorper erat ut neque dapibus, et pulvinar metus vulputate. Etiam in nisl dictum, tempor ante a, molestie felis. Sed iaculis interdum metus nec malesuada. Vivamus tristique purus nunc, non placerat metus gravida ac. Donec tempus dui sed purus placerat, at sodales ipsum pellentesque. Aliquam posuere consectetur nunc, id tempor nunc pharetra ac. Sed massa mi, euismod nec pellentesque nec, sollicitudin ut erat. Pellentesque mi risus, sagittis et maximus blandit, convallis hendrerit quam.
    
    Mauris scelerisque sodales tincidunt. Pellentesque eleifend leo ligula, eget viverra mi vehicula vel. Suspendisse hendrerit eu augue sit amet ultricies. Aliquam vitae turpis lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc maximus, urna vitae venenatis mollis, felis ex luctus sapien, imperdiet iaculis quam diam nec dui. Vivamus vel tristique nulla. Nam ultricies tincidunt vulputate. Etiam venenatis dignissim augue id consectetur. Ut ornare sit amet nisl vitae viverra. Suspendisse in dolor lobortis, pharetra ex vitae, finibus sem.

  </div>
  </div>
</div>

{%endblock%}
