{%extends 'layout.html'%} {%block content%}
<div class="container">
  <div class="row"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-4 col-sm-12">
        <ol>
          <li>phone: 1234 5678</li>
          <li>email: cool@guy.com</li>
          <li>adress: 444 the moon</li>
        </ol>
      </div>
        <div class="col-lg-6 col-md-8 col-sm-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212849.17146323962!2d148.4762067525046!3d-33.53340915084035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b1065c44ac32a9f%3A0x40609b490437870!2sCanowindra%20NSW%202804!5e0!3m2!1sen!2sau!4v1748829815578!5m2!1sen!2sau" 
          width="600" 
          height="450"
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}