{%extends 'layout.html'%} {%block content%}
<div class="container">
  <div class="row">
    <h1 id="intro">Earth</h1>
    <strong>The Motherworld</strong>
    <p></p>
    <img
      src="https://images.unsplash.com/photo-1614730321146-b6fa6a46bcb4?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZWFydGh8ZW58MHx8MHx8fDA%3D"
      style="width: 50%; height: auto"
      class="my-4"
    />
    <p>
      earth is the birthplace of <a href="/humanity.html">humanity</a> Lorem
      ipsum dolor sit amet, consectetur adipiscing elit. Morbi rhoncus vehicula
      lorem. Nam sit amet ultricies libero. Vestibulum lectus mi, congue et quam
      quis, convallis ultrices elit. Sed in dignissim tortor, ac eleifend nibh.
      Suspendisse dapibus, elit in viverra tincidunt, lacus ex mollis ante, a
      tincidunt tellus justo non nunc. In non rhoncus mi. Duis aliquet ultrices
      augue, in ornare tellus imperdiet non. Etiam mattis, massa ornare suscipit
      viverra, justo quam tempor metus, fermentum gravida lectus dui a nibh. Sed
      eget mattis turpis. Maecenas sed magna odio. Vestibulum feugiat odio ut
      dictum dignissim. Nam at erat in ipsum gravida feugiat ullamcorper non
      lacus. Nulla eu tempus sem. Suspendisse sagittis risus felis, in
      consectetur odio posuere vitae. Pellentesque in ultricies ante, eget
      fringilla augue. Praesent nec auctor neque. Quisque pharetra elementum
      nisi quis tempus. Vivamus consectetur lacinia mauris, eu semper mauris
      suscipit nec. Donec iaculis et neque volutpat dignissim. Etiam laoreet,
      dui vitae condimentum varius, elit nunc dignissim arcu, sit amet suscipit
      eros lorem ut est. Nam et volutpat mauris. Mauris ac eros purus. Nam
      rhoncus sed nunc ut fringilla.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus velit,
      suscipit sit amet odio id, placerat sollicitudin tortor. Donec nec lacinia
      turpis, ut laoreet massa. In mi ligula, dapibus nec dictum non, malesuada
      et risus. Nulla euismod nulla eget mauris auctor posuere. Etiam maximus
      nisi eu velit efficitur ultrices. Curabitur in lectus facilisis, consequat
      felis vitae, rutrum tellus. Donec consectetur, nisi et aliquet placerat,
      lorem velit posuere urna, a malesuada lacus mauris sed ex. Nunc sodales
      lectus id molestie pharetra. Praesent non nulla dapibus, faucibus enim et,
      molestie purus. Fusce suscipit turpis vel vulputate malesuada. Nulla
      condimentum vel tellus vitae elementum. Proin consectetur bibendum est in
      ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
      posuere cubilia curae; Nam accumsan tortor id arcu imperdiet, id accumsan
      dui accumsan. Phasellus varius sit amet risus sit amet luctus.\
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam diam massa,
      tincidunt eu scelerisque vitae, consequat vel risus. Maecenas vitae neque
      tempus, sagittis tellus eleifend, blandit mi. Vestibulum condimentum enim
      sit amet ante porttitor, quis condimentum turpis maximus. Nullam pretium
      interdum quam ac viverra. Pellentesque placerat, velit et commodo
      tristique, mauris tellus facilisis orci, quis condimentum nulla nulla id
      ante. Phasellus aliquet, magna et tempor tempus, turpis est mattis mi, sed
      bibendum leo odio eget lorem. Ut placerat leo sed urna aliquet venenatis.
      Pellentesque nibh tortor, pulvinar sit amet est quis, porta placerat quam.
      Aenean a justo faucibus mi laoreet placerat. Donec metus dolor, eleifend
      vel tincidunt vel, ornare nec nibh. Sed ullamcorper dolor sed nulla
      varius, ac dapibus augue malesuada. In convallis nibh et dui tincidunt
      euismod. Nam tincidunt dolor vitae suscipit sagittis. Suspendisse
      facilisis nibh vel ipsum egestas, a feugiat enim congue. Nam dapibus
      tincidunt nibh, at molestie massa ultricies quis. Aenean id accumsan
      ligula. Donec sollicitudin nisl eget dictum sagittis. Suspendisse volutpat
      sed augue eu tincidunt. Sed cursus, eros sed rhoncus dapibus, turpis diam
      consectetur massa, in molestie lorem metus sit amet tellus. Etiam cursus,
      risus ut tempor gravida, massa dolor luctus odio, sed commodo velit lectus
      ultrices erat. Integer varius sed libero vel lacinia. Quisque tincidunt
      dui vitae tellus maximus,
    </p>
    <p>
      pellentesque imperdiet nunc rutrum. Pellentesque maximus ornare dolor, ut
      laoreet velit scelerisque eget. Quisque rutrum finibus sapien, sit amet
      luctus mi porttitor nec. Integer mi elit, gravida sed egestas id, sodales
      sit amet nunc. Ut egestas, felis eget eleifend egestas, lectus turpis
      lacinia neque, ac gravida odio velit eget orci. Sed eu urna ut urna ornare
      varius. Suspendisse convallis non arcu eu bibendum. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Integer tortor enim, elementum eu enim eu, tempus accumsan risus. Proin
      placerat lorem lorem, a laoreet arcu cursus vel. Sed efficitur orci non
      nulla rutrum semper. Aenean at nunc elementum, sodales tortor vel, gravida
      erat. Mauris finibus, mi maximus placerat fermentum, leo metus pretium
      mauris, in tempor lorem lorem quis ipsum. Donec non lacus ac quam
      elementum scelerisque et non nunc. Suspendisse feugiat dapibus pretium.
      Nullam ante nisi, congue a mollis eu, tincidunt rutrum neque. Pellentesque
      fringilla, ante non efficitur dictum, nisl augue viverra diam, posuere
      egestas magna enim quis nunc. Quisque egestas non risus nec auctor. Sed
      facilisis, turpis in congue porta, quam arcu dapibus ligula, sit amet
      varius lorem lorem nec mi. Sed blandit quis ligula nec rhoncus. Sed luctus
      risus ac leo viverra, eget fringilla diam suscipit. Duis consectetur ex ac
      nisi venenatis
    </p>
    imperdiet. Curabitur ornare dui a risus rutrum, congue efficitur purus
    dignissim. Suspendisse porta, dui in hendrerit aliquet, ex felis tincidunt
    purus, pharetra efficitur dolor tortor vel orci. Aliquam erat volutpat.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet diam
    viverra, condimentum justo eu, malesuada est. Pellentesque elit odio, varius
    vel nibh quis, pulvinar elementum ante. Aenean blandit tincidunt felis non
    luctus. Mauris lobortis odio id turpis finibus auctor. Etiam quis mauris nec
    libero dapibus ullamcorper. Aenean ac porta justo. Donec malesuada quam
    velit, id ultricies elit suscipit nec. Nullam a imperdiet mauris. Vestibulum
    aliquet consequat lectus.
    <h2 id="Heading-two">Heading two</h2>
    <p>
      Quisque pulvinar rutrum auctor. Vivamus varius pellentesque porta. Mauris
      hendrerit, neque ac dictum lobortis, risus risus feugiat tortor, a semper
      leo orci sit amet nisi. Nullam nec euismod nibh. Suspendisse potenti. Ut
      feugiat eget odio a congue. Phasellus egestas nulla sed felis hendrerit
      consequat. Fusce eros augue, scelerisque sed euismod cursus, euismod sed
      torto
    </p>
  </div>
</div>
{%endblock%}
