{%extends 'layout.html'%} {%block content%}
<div class="container">
  <div class="row">
    <h1>Earth</h1>
    <strong>The Motherworld</strong>
    <p></p>
    <img
      src="https://images.unsplash.com/photo-1614730321146-b6fa6a46bcb4?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZWFydGh8ZW58MHx8MHx8fDA%3D"
      style="width: 50%; height: auto"
    />
    <p>
      earth is the birthplace of <a href="/humanity.html">humanity</a> Lorem
      ipsum dolor sit amet, consectetur adipiscing elit. Morbi rhoncus vehicula
      lorem. Nam sit amet ultricies libero. Vestibulum lectus mi, congue et quam
      quis, convallis ultrices elit. Sed in dignissim tortor, ac eleifend nibh.
      Suspendisse dapibus, elit in viverra tincidunt, lacus ex mollis ante, a
      tincidunt tellus justo non nunc. In non rhoncus mi. Duis aliquet ultrices
      augue, in ornare tellus imperdiet non. Etiam mattis, massa ornare suscipit
      viverra, justo quam tempor metus, fermentum gravida lectus dui a nibh. Sed
      eget mattis turpis. Maecenas sed magna odio. Vestibulum feugiat odio ut
      dictum dignissim. Nam at erat in ipsum gravida feugiat ullamcorper non
      lacus. Nulla eu tempus sem. Suspendisse sagittis risus felis, in
      consectetur odio posuere vitae. Pellentesque in ultricies ante, eget
      fringilla augue. Praesent nec auctor neque. Quisque pharetra elementum
      nisi quis tempus. Vivamus consectetur lacinia mauris, eu semper mauris
      suscipit nec. Donec iaculis et neque volutpat dignissim. Etiam laoreet,
      dui vitae condimentum varius, elit nunc dignissim arcu, sit amet suscipit
      eros lorem ut est. Nam et volutpat mauris. Mauris ac eros purus. Nam
      rhoncus sed nunc ut fringilla.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus velit,
      suscipit sit amet odio id, placerat sollicitudin tortor. Donec nec lacinia
      turpis, ut laoreet massa. In mi ligula, dapibus nec dictum non, malesuada
      et risus. Nulla euismod nulla eget mauris auctor posuere. Etiam maximus
      nisi eu velit efficitur ultrices. Curabitur in lectus facilisis, consequat
      felis vitae, rutrum tellus. Donec consectetur, nisi et aliquet placerat,
      lorem velit posuere urna, a malesuada lacus mauris sed ex. Nunc sodales
      lectus id molestie pharetra. Praesent non nulla dapibus, faucibus enim et,
      molestie purus. Fusce suscipit turpis vel vulputate malesuada. Nulla
      condimentum vel tellus vitae elementum. Proin consectetur bibendum est in
      ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
      posuere cubilia curae; Nam accumsan tortor id arcu imperdiet, id accumsan
      dui accumsan. Phasellus varius sit amet risus sit amet luctus.\
    </p>
    <p>
      Quisque pulvinar rutrum auctor. Vivamus varius pellentesque porta. Mauris
      hendrerit, neque ac dictum lobortis, risus risus feugiat tortor, a semper
      leo orci sit amet nisi. Nullam nec euismod nibh. Suspendisse potenti. Ut
      feugiat eget odio a congue. Phasellus egestas nulla sed felis hendrerit
      consequat. Fusce eros augue, scelerisque sed euismod cursus, euismod sed
      torto
    </p>
  </div>
</div>
{%endblock%}
