{%extends 'layout.html'%} {%block content%}
<div class="container">
  <div class="row">
    
><P><h2><strong>Humanity</strong></h2></P>
<em>us</em>
<p>    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1wN5jFJ2hC5e86WcYaU_V_WtSwpr_DODITg&s"
    style="width: 50%; height: auto"
  /></p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula, turpis a tincidunt ullamcorper, ligula leo varius lectus, eget accumsan neque dolor ut ipsum. Sed at gravida metus. Proin aliquam diam at tellus maximus, nec scelerisque lorem vulputate. Aenean vel elit nec arcu porta vulputate. Nulla finibus metus enim, non pulvinar massa mollis quis. Ut quis viverra enim. Maecenas risus mauris, auctor sed odio sodales, ultricies fringilla ante. In commodo nulla nulla, sit amet faucibus eros posuere a. Pellentesque pharetra ultricies orci varius rutrum.

Mauris ultricies odio ut justo aliquet dignissim. Donec eu mauris eu velit accumsan fermentum. Praesent vestibulum ante quis nisi posuere porta. Aliquam id mollis mauris, sed tincidunt lacus. Maecenas at turpis dolor. Duis et lectus a ante finibus gravida imperdiet auctor quam. Pellentesque id consectetur leo, posuere elementum augue. Proin congue gravida nunc, ut vehicula dui consequat eu. Aenean in leo at risus elementum mollis condimentum nec metus. Curabitur tempor dignissim purus eget consequat. Nunc luctus libero rutrum, facilisis magna rhoncus, accumsan risus. Vestibulum placerat interdum pretium. Sed ut nisl elit.

<p>mankind evolved on <a href="/earth.html">earth</a></p>

Mauris consectetur vel diam in rutrum. Suspendisse potenti. Sed ornare auctor rhoncus. Maecenas id massa eget augue aliquet vestibulum hendrerit ut metus. Suspendisse suscipit leo tellus, ac accumsan massa accumsan vitae. Nam fermentum leo nec dapibus faucibus. Aliquam hendrerit metus erat, condimentum ultricies elit iaculis sit amet. Curabitur varius lobortis quam, nec bibendum est fermentum dictum. Suspendisse a cursus velit. Suspendisse pharetra accumsan egestas.

Suspendisse suscipit metus tellus, id euismod risus vehicula nec. Vivamus ornare, est hendrerit tempus euismod, augue mi fringilla nisi, eget pulvinar libero dolor nec tortor. Etiam sed bibendum ligula. Mauris porttitor nisi id est placerat, a convallis quam gravida. Nullam at risus nec quam aliquet auctor. Nulla sollicitudin venenatis magna, nec tristique massa bibendum a. Mauris quis lacus placerat, ornare purus eget, eleifend erat. Donec sed odio mauris. Mauris auctor ligula in enim luctus dictum. Suspendisse potenti. Sed ex nulla, placerat eu vulputate eu, convallis vel nisi.
<p></p>
<img
    src="https://st2.depositphotos.com/1000647/6687/i/450/depositphotos_66874005-stock-photo-astronaut-in-outer-space.jpg"
    style="width: 50%; height: auto"
  />
  <p></p>

Mauris placerat a nulla vel suscipit. Sed in tincidunt justo. Mauris eget nisl justo. Morbi non molestie purus. Sed nec mattis turpis, sed pretium dui. Duis posuere nibh ac purus mollis, in auctor ipsum euismod. Praesent at arcu euismod, porta sapien ut, lacinia metus. Fusce venenatis elit a diam congue, eu bibendum massa ornare. Etiam facilisis faucibus metus nec hendrerit. Praesent et turpis eu lacus tempor tempus.

<p>mankind was also the first to be greeted by <a href="/redworld.html">redworld</a> <a href="/starships.html">starships</a></p>

Donec ligula odio, pharetra vel quam et, volutpat sollicitudin elit. Morbi maximus tellus volutpat risus finibus accumsan. Suspendisse ornare mi et laoreet volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc in rhoncus mauris. Vivamus neque risus, venenatis ac sapien ac, imperdiet interdum nunc. Donec ultrices purus quis eros varius, sed scelerisque mauris pulvinar. Praesent nec tincidunt arcu. Donec justo risus, pretium nec fringilla ac, blandit non eros.
</div>
</div>

{%endblock%}
