{%extends 'layout.html'%} {%block content%}
<div class="container">
  <div class="row">

    <P><h2><strong id="intro">Humanity</strong></h2></P>
    <em>us</em>
    <p>    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1wN5jFJ2hC5e86WcYaU_V_WtSwpr_DODITg&s"
    style="width: 50%; height: auto"
    class="my-4"
  /></p>
  <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula, turpis a tincidunt ullamcorper, ligula leo varius lectus, eget accumsan neque dolor ut ipsum. Sed at gravida metus. Proin aliquam diam at tellus maximus, nec scelerisque lorem vulputate. Aenean vel elit nec arcu porta vulputate. Nulla finibus metus enim, non pulvinar massa mollis quis. Ut quis viverra enim. Maecenas risus mauris, auctor sed odio sodales, ultricies fringilla ante. In commodo nulla nulla, sit amet faucibus eros posuere a. Pellentesque pharetra ultricies orci varius rutrum.

Mauris ultricies odio ut justo aliquet dignissim. Donec eu mauris eu velit accumsan fermentum. Praesent vestibulum ante quis nisi posuere porta. Aliquam id mollis mauris, sed tincidunt lacus. Maecenas at turpis dolor. Duis et lectus a ante finibus gravida imperdiet auctor quam. Pellentesque id consectetur leo, posuere elementum augue. Proin congue gravida nunc, ut vehicula dui consequat eu. Aenean in leo at risus elementum mollis condimentum nec metus. Curabitur tempor dignissim purus eget consequat. Nunc luctus libero rutrum, facilisis magna rhoncus, accumsan risus. Vestibulum placerat interdum pretium. Sed ut nisl elit.

mankind evolved on <a href="/earth.html">earth</a>

Mauris consectetur vel diam in rutrum. Suspendisse potenti. Sed ornare auctor rhoncus. Maecenas id massa eget augue aliquet vestibulum hendrerit ut metus. Suspendisse suscipit leo tellus, ac accumsan massa accumsan vitae. Nam fermentum leo nec dapibus faucibus. Aliquam hendrerit metus erat, condimentum ultricies elit iaculis sit amet. Curabitur varius lobortis quam, nec bibendum est fermentum dictum. Suspendisse a cursus velit. Suspendisse pharetra accumsan egestas.

Suspendisse suscipit metus tellus, id euismod risus vehicula nec. Vivamus ornare, est hendrerit tempus euismod, augue mi fringilla nisi, eget pulvinar libero dolor nec tortor. Etiam sed bibendum ligula. Mauris porttitor nisi id est placerat, a convallis quam gravida. Nullam at risus nec quam aliquet auctor. Nulla sollicitudin venenatis magna, nec tristique massa bibendum a. Mauris quis lacus placerat, ornare purus eget, eleifend erat. Donec sed odio mauris. Mauris auctor ligula in enim luctus dictum. Suspendisse potenti. Sed ex nulla, placerat eu vulputate eu, convallis vel nisi.
</p>
<h2 id="Heading-two">early space age</h2>
<img
    src="https://st2.depositphotos.com/1000647/6687/i/450/depositphotos_66874005-stock-photo-astronaut-in-outer-space.jpg"
    style="width: 50%; height: auto"
    class="my-4"
  />
  <p>

Mauris placerat a nulla vel suscipit. Sed in tincidunt justo. Mauris eget nisl justo. Morbi non molestie purus. Sed nec mattis turpis, sed pretium dui. Duis posuere nibh ac purus mollis, in auctor ipsum euismod. Praesent at arcu euismod, porta sapien ut, lacinia metus. Fusce venenatis elit a diam congue, eu bibendum massa ornare. Etiam facilisis faucibus metus nec hendrerit. Praesent et turpis eu lacus tempor tempus.



Donec ligula odio, pharetra vel quam et, volutpat sollicitudin elit. Morbi maximus tellus volutpat risus finibus accumsan. Suspendisse ornare mi et laoreet volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc in rhoncus mauris. Vivamus neque risus, venenatis ac sapien ac, imperdiet interdum nunc. Donec ultrices purus quis eros varius, sed scelerisque mauris pulvinar. Praesent nec tincidunt arcu. Donec justo risus, pretium nec fringilla ac, blandit non eros.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut orci nisl, venenatis sit amet blandit at, elementum sed augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam viverra tortor ac lacus iaculis cursus. Aliquam vel semper tortor. Donec aliquam ante tellus, sit amet accumsan turpis sollicitudin fermentum. Vestibulum eu purus vel orci fringilla pulvinar. Nulla in fermentum lorem, ut pellentesque dui.

In posuere aliquet nibh, non ultrices turpis blandit at. Nulla vitae enim pulvinar nisl sagittis pulvinar. Quisque fringilla, nulla ut interdum mollis, eros ante rhoncus risus, sit amet lobortis lacus odio id nulla. Etiam feugiat quam a diam elementum pellentesque. Mauris nisl risus, aliquet id aliquam in, dictum non est. Phasellus eget tellus tempus, gravida nibh sit amet, vehicula tortor. Morbi tristique ultricies nibh et porttitor. Vivamus et luctus eros, id imperdiet tellus. Vestibulum euismod vehicula mauris, sit amet convallis tortor congue sit amet. Nullam mattis, eros quis venenatis pellentesque, nulla mi elementum orci, id mollis neque libero vel nunc.
</p>

  <h4 id="Heading-three">first contact</h4>
  <p>
Sed venenatis suscipit elit,mankind was also the first to be greeted by <a href="/redworld.html">redworld</a> <a href="/starships.html">starships</a> eget vulputate nulla blandit non. Donec commodo odio metus, porttitor auctor risus egestas quis. Vestibulum metus quam, cursus vel aliquet id, tristique sed lorem. Quisque molestie, lectus dictum sodales luctus, urna mauris condimentum erat, at blandit ex elit eget eros. In vel tincidunt metus, id hendrerit urna. Morbi eget diam arcu. Sed efficitur finibus interdum. Nam nisi elit, sodales nec tincidunt in, fermentum quis arcu. Nulla in neque sit amet dui faucibus pretium a quis nulla. Mauris viverra dapibus lacinia. Mauris commodo interdum risus at feugiat. Nullam ullamcorper augue et cursus interdum. Nunc blandit, nulla quis tincidunt auctor, erat magna imperdiet urna, in dignissim nisi elit tincidunt lorem.
</p>
<p>
In eu dignissim justo. Mauris a auctor nisl. Nulla at dui semper tortor rhoncus lobortis fringilla ac mauris. Nulla lacinia, nisl sed fermentum varius, tortor diam blandit metus, id faucibus enim tellus at ligula. Duis iaculis facilisis enim ac eleifend. Sed tincidunt vulputate odio eget tincidunt. Maecenas et fermentum augue, vitae consequat quam. Sed volutpat et nulla ut tempor. Phasellus cursus lobortis nisl, ac faucibus dolor iaculis nec. Vivamus pretium metus erat, aliquet rutrum nisi varius non. Aliquam erat volutpat. Curabitur sodales sodales interdum. Ut luctus pellentesque turpis id malesuada. Etiam tristique ligula vel consectetur eleifend.

Quisque a risus bibendum, tincidunt nisl a, eleifend libero. Donec condimentum imperdiet quam consectetur sodales. Sed lacinia dignissim feugiat. Mauris eu vulputate eros, id dapibus tortor. In hac habitasse platea dictumst. Nulla quis nibh mi. Sed dignissim accumsan posuere.
</p>
<p>
  <h1 id="Heading-four">where are we now?</h1>
Integer ac erat enim. Duis nec ex mollis, malesuada neque vitae, condimentum augue. Suspendisse vel sodales odio. Nam ac sollicitudin quam, at pretium dui. Donec consequat libero vel euismod tincidunt. Duis orci ligula, tempus eleifend euismod ut, fringilla malesuada tellus. Morbi pretium semper felis, at venenatis libero porta sed. Sed mauris dolor, placerat vitae ipsum a, fringilla lacinia tortor.
</p>
</div>
</div>

{%endblock%}
