{%extends 'layout.html'%} {%block content%}

<div class="container skult content">
  <style>
    .skult {
      background-color: #a084bb;
      font-size: 20px;
    }
  </style>

  <div class="container skult content">
    <div class="row">
      <h1 id="intro">Skult</h1>
      <h3>homeworld of the talt</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum
        sagittis libero. Quisque sit amet arcu odio. Donec sagittis in nisi at
        efficitur. Donec mattis velit sit amet lacus posuere feugiat. In auctor
        quam at dui auctor, eu rhoncus est rutrum. Suspendisse non metus enim.
        Morbi sodales velit the <a href="talt.html">talt</a> are a very resilant
        speacies eu magna aliquet malesuada. Pellentesque convallis eu dui ac
        tempus. Curabitur id sapien non eros aliquam consectetur. Nullam nec
        velit ligula. Praesent sit amet orci pharetra, luctus urna in, venenatis
        ipsum. Donec ut varius sapien. Maecenas odio orci, sodales eget
        sollicitudin sed, feugiat eget sem. Etiam a rhoncus nibh. Maecenas
        accumsan erat et faucibus consequat. Pellentesque nec rhoncus nisl, ut
        egestas dolor.
      </p>
      <img
        src="static/images/skult world map.png"
        style="width: 50%; height: auto,"
        class="my-4"
      />
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Quisque facilisis, mauris ac interdum
        tristique, nisl risus eleifend mauris, eu dapibus odio mi sit amet urna.
        Nam massa libero, aliquet in molestie nec, pharetra eu leo. Phasellus
        nisl urna, sollicitudin vitae lectus et, tristique vulputate ex. Duis
        tempor sem a ante vestibulum dignissim. Sed dignissim faucibus lacinia.
        Praesent aliquam nunc vitae consectetur hendrerit.
      </p>
      <img src="static/images/skult.png" style="width: 30%; height: auto"
      class="my-4" />
      <p>
        Maecenas tristique lorem sem. Sed aliquet nunc magna, vel viverra nunc
        molestie hendrerit. Vestibulum placerat nisi non arcu ultrices, nec
        mollis lectus elementum. Ut cursus, nulla ac dignissim semper, elit
        lacus efficitur urna, at varius lacus est at urna. Interdum et malesuada
        fames ac ante ipsum primis in faucibus. Nulla porta egestas scelerisque.
        Morbi nec arcu eu mauris tempus pellentesque. In vitae dapibus turpis.
        Vestibulum imperdiet, sem in efficitur interdum, erat enim pharetra
        lacus, at vehicula urna risus quis lorem. Fusce tincidunt risus quis
        porta hendrerit. Integer aliquet accumsan feugiat. Sed rutrum metus sed
        tortor elementum ornare.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit
        amet nisl facilisis, ornare lacus quis, elementum leo. Mauris erat erat,
        auctor elementum erat nec, pulvinar facilisis urna. Vestibulum eget
        purus eleifend, tempus tellus non, cursus leo. Quisque at ipsum sed
        justo commodo faucibus non sagittis dolor. Quisque in ex vitae nisi
        elementum mattis eget a velit. Mauris congue metus quam, tincidunt
        tempor quam laoreet sed. Vestibulum aliquam iaculis nibh condimentum
        sodales. Suspendisse dapibus turpis ipsum, vel posuere sem commodo nec.
        Maecenas varius, purus sed tincidunt tempus, odio massa fermentum
        libero, non venenatis nisi purus id tortor. Fusce sagittis orci et metus
        accumsan sodales. Etiam a varius arcu. In eget ipsum a sem aliquet
        placerat sed ac lectus. Nam lectus sapien, varius ut ligula non, laoreet
        fringilla velit. Aenean euismod rhoncus feugiat. Integer volutpat
        porttitor aliquet.
      </p>
      <p>
        Suspendisse gravida, dolor eget vulputate dapibus, lorem felis gravida
        est, nec efficitur mauris tellus id diam. Proin elementum ultricies
        suscipit. Etiam dapibus sem nec varius tristique. Nulla urna lectus,
        sollicitudin id mauris sit amet, commodo feugiat leo. Nulla sollicitudin
        sed nisi eget tempus. Pellentesque id quam arcu. Sed at massa tempor,
        sodales turpis at, sagittis diam. Integer blandit lorem sed nisl varius
        pellentesque. Vivamus interdum pretium eros a pharetra. Curabitur
        ultrices, risus at efficitur pulvinar, diam dui rutrum mauris, non
        pharetra augue lectus vel lorem. Sed pretium diam quis elit consectetur,
        ac suscipit leo imperdiet. Donec ultricies consequat tincidunt.
        Phasellus molestie tristique ipsum vel tincidunt. Pellentesque a sem
        quis lorem auctor sodales. Cras semper neque at massa luctus suscipit.
        Sed aliquam metus id lorem vehicula volutpat. Fusce sodales justo at
        felis imperdiet, eget rhoncus justo tincidunt. Donec ac elit laoreet
        turpis consequat lacinia eget ac massa. Vivamus pretium elementum est
        sit amet dictum. Sed porttitor feugiat urna non pretium. Donec vitae
        mattis augue, sit amet facilisis diam. Aliquam erat volutpat. Ut
        venenatis, arcu in euismod dapibus, metus felis faucibus tortor, nec
        consectetur nibh quam quis purus. Aenean vel risus ac nunc blandit
        posuere vel in nunc. Etiam eget laoreet sapien. Nam imperdiet arcu sed
        lacus euismod elementum eu ac dui.
      </p>
      <h3><strong id="Heading-two">Skult location</strong></h3>
      <p>
        Aenean commodo hendrerit metus a eleifend. Fusce id massa luctus,
        aliquet risus ut, dictum dolor. Donec ac mauris et tortor malesuada
        finibus nec et neque. Aenean auctor, mauris in vulputate molestie, eros
        justo elementum velit, ac sodales libero felis ac ante. Mauris varius
        nisi nec tellus fringilla, eu semper nunc efficitur. Maecenas ac libero
        non ipsum elementum pretium at in tellus.
      </p>
    </div>
  </div>

  {%endblock%}
</div>
