{%extends 'layout.html'%} {%block content%}
<div class="container talt info">
  <style>
    .talt {
      font-family: "courier new", courier, monospace;
    }
  </style>

  <div class="container talt info">
    <div class="row">
      <h2><strong id="intro">The Talt</strong></h2>
      <img
        src="static/images/the talt.png"
        style="width: 50%; height: auto; display: block; margin: 0 auto"
        class="my-4"
      />
      <p>
        Lorem ipsum dolor sit amet, homeworld of
        <a href="skult.html">skult</a> consectetur adipiscing elit. Duis ex
        nibh, eleifend sed nisi non, volutpat interdum urna. Nullam euismod
        fringilla venenatis. Etiam eget dapibus leo, in porta dolor. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Pellentesque
        vestibulum vel dui et dapibus. Nam eu leo ultrices, dapibus leo eget,
        rhoncus nunc. Ut fermentum mollis quam elementum tincidunt. Quisque eu
        ipsum leo. Nunc elementum, risus eu mollis ultrices, libero diam
        fermentum risus, vel consectetur sem lectus ut ante. Mauris quam augue,
        feugiat ut sollicitudin id, bibendum vitae diam.
      </p>

      <p>
        Fusce diam orci, one of the first species to make contact with
        <a href="humanity.html">humanity</a>, facilisis ut vulputate non,
        gravida sit amet mi. Fusce sodales facilisis magna, sed scelerisque ex.
        Donec venenatis neque et finibus facilisis. Duis consectetur luctus orci
        elementum efficitur. Donec sed dictum dolor, non malesuada justo.
        Aliquam ante tellus, sodales et fermentum at, hendrerit a nisi. Mauris
        sit amet mattis sem. Aenean elementum, erat a tincidunt iaculis, lacus
        eros venenatis leo, ut efficitur diam dui ac nibh. Morbi convallis arcu
        quam, vel lobortis urna consequat rhoncus. Curabitur molestie viverra
        fringilla. Phasellus enim erat, blandit vel fermentum sed, sollicitudin
        nec quam.
      </p>
      <h2 id="Heading-two">Talt biology</h2>
      <img
        src="static/images/talt bio.png"
        style="width: 50%; height: auto; display: block; margin: 0 auto"
        class="my-4"
      />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit
        pharetra gravida. In hac habitasse platea dictumst. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Ut non pellentesque
        erat. Maecenas consectetur interdum quam, sit amet efficitur tortor
        rhoncus et. In hac habitasse platea dictumst. Aliquam consequat dui eget
        dapibus sollicitudin. Mauris ut magna et dolor elementum aliquam non
        eget arcu. Proin condimentum est sed odio pulvinar commodo. Nullam
        molestie nisi dolor, vitae porta odio maximus nec. Proin nec velit id
        ante iaculis accumsan ut hendrerit est. Nullam in urna sit amet tellus
        tristique maximus non quis elit. Etiam vehicula orci porttitor odio
        porta, ut semper massa auctor. Sed dictum imperdiet ultrices. Cras non
        dolor dapibus, pretium sem sit amet, luctus felis. Praesent leo erat,
        interdum in rutrum id, ultricies sit amet urna. Vestibulum enim erat,
        porttitor eget pellentesque a, euismod vitae leo. Curabitur at ex id
        sapien malesuada blandit. Mauris in imperdiet nunc. Praesent malesuada
        pretium arcu in cursus. Integer ut massa enim. Quisque fringilla, eros
        eget pharetra ultricies, leo sapien commodo tortor, non ornare ligula
        quam vitae enim. Aliquam in ipsum lacinia, luctus tellus eu, elementum
        massa. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Duis pulvinar sapien ac libero aliquet scelerisque. Morbi congue lacus
        in justo accumsan, a interdum magna malesuada. Fusce accumsan nec felis
        quis consequat. Cras accumsan molestie dui, ac condimentum neque
        volutpat pretium. Interdum et malesuada fames ac ante ipsum primis in
        faucibus. Nulla facilisi. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Maecenas iaculis nibh id
        sagittis eleifend. Nam nec nulla congue enim ornare aliquam id nec
        tortor. Aliquam porta a augue ac faucibus. Sed euismod, quam vel
        eleifend varius, ligula nibh pharetra felis, sit amet ultrices lacus
        turpis vel eros. Donec a viverra dolor, vitae sagittis turpis.
      </p>
      <h3 id="Heading-three">Early Talt technology</h3>
      <img
        src="static/images/talt spear thrower.png"
        style="width: 40%; height: auto; display: block; margin: 0 auto"
        class="my-4"
      />
      <p>
        Aliquam quis maximus orci, sed semper elit. Proin mauris arcu, dignissim
        aliquam eros ac, condimentum interdum massa. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Cras consequat erat id risus commodo
        pretium. Nam porttitor sapien sit amet dignissim ullamcorper. Maecenas
        nunc nibh, pretium nec egestas sit amet, dapibus vel quam. Donec
        lobortis ornare lectus, eu blandit massa efficitur nec. Sed egestas
        accumsan eros, sit amet pulvinar nunc luctus vitae. Donec sed nisi
        sagittis, porta enim quis, pellentesque sapien. Sed porttitor non ligula
        at finibus.
      </p>
    </div>
  </div>
  {%endblock%}
</div>
