{%extends 'layout.html'%} {%block content%}
<div class="container talt info">
  <style>
    .talt {
      font-family: "courier new", courier, monospace;
    }
  </style>

  <div class="container talt info">
    <div class="row">
      <h2><strong>The Talt</strong></h2>
      <img
        src="static/images/the talt.png"
        style="width: 50%; height: auto; display: block; margin: 0 auto"
      />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ex nibh,
        eleifend sed nisi non, volutpat interdum urna. Nullam euismod fringilla
        venenatis. Etiam eget dapibus leo, in porta dolor. Interdum et malesuada
        fames ac ante ipsum primis in faucibus. Pellentesque vestibulum vel dui
        et dapibus. Nam eu leo ultrices, dapibus leo eget, rhoncus nunc. Ut
        fermentum mollis quam elementum tincidunt. Quisque eu ipsum leo. Nunc
        elementum, risus eu mollis ultrices, libero diam fermentum risus, vel
        consectetur sem lectus ut ante. Mauris quam augue, feugiat ut
        sollicitudin id, bibendum vitae diam.
      </p>

      <p>
        Fusce diam orci, one of the first species to make contact with
        <a href="humanity.html">humanity</a>, facilisis ut vulputate non,
        gravida sit amet mi. Fusce sodales facilisis magna, sed scelerisque ex.
        Donec venenatis neque et finibus facilisis. Duis consectetur luctus orci
        elementum efficitur. Donec sed dictum dolor, non malesuada justo.
        Aliquam ante tellus, sodales et fermentum at, hendrerit a nisi. Mauris
        sit amet mattis sem. Aenean elementum, erat a tincidunt iaculis, lacus
        eros venenatis leo, ut efficitur diam dui ac nibh. Morbi convallis arcu
        quam, vel lobortis urna consequat rhoncus. Curabitur molestie viverra
        fringilla. Phasellus enim erat, blandit vel fermentum sed, sollicitudin
        nec quam.
      </p>
    </div>
  </div>
  {%endblock%}
</div>
